body {
  padding: 10px;
  width: 260px;
  /* width: 500px;
  height: 500px; */
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
}

.flex1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flexRow {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flexColumn {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flexVHCenter {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flexVCenter {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flexHCenter {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.bfc {
  overflow: hidden;
}

.bfc:after,
.bfc:before {
  display: block;
  visibility: hidden;
  overflow: hidden;
  content: '';
}

.bfc:after {
  clear: both;
}

.list {
  padding: 0;
  margin: 0;
}

.item {
  height: 32px;
}

.item-lable {
  font-size: 14px;
  line-height: 32px;
  padding-right: 10px;
}

.bootstrap-switch span:before {
  display: none;
}

.list-unit .form-check {
  margin-right: 10px;
}
